<%- include('../partials/header') %>
    <h1>Edit Skill</h1>
    <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
        <input type="text" name="skillName" value="<%= skill.skillName %>">
        <input type="text" name="project" value="<%= skill.project %>">
        <button type="submit">Save Skill</button>
    </form>
</body>
</html>